.footer{
    margin: 20px auto;
    border-top: 2px solid white;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media (max-width: 650px){
    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer p{
        margin-bottom: 20px;
    }
}